.pagination {
  display: flex;
  list-style: none;
  column-gap: 0.5rem;
}

.pagination button {
  min-width: 3rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-button);
  white-space: nowrap;
  transition: background-color 300ms ease;
}

.pagination button:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--color-primary);
  color: white;
}
