:root {
  --font-size: 13px;
  --form-height: 3.25rem;
  --form-height-small: 2.75rem;
  --form-height-xsmall: 2.25rem;
  --border-radius: 2px;
  --color-button: #e9e9e9;
  --color-button-hover: #dedede;
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-yellow: #fcd34d;
  --color-red: #ef4444;
  --color-red-hover: #dc2626;
  --color-yellow-hover: #fbbf24;
  --color-border: #e2e2e2;
}
